###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=77c656edbf113f9dd6fa5fff10078e6c
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS='^localhost|example\.com$'
###< symfony/framework-bundle ###
###> doctrine/doctrine-bundle ###
DATABASE_URL=mysql://root:@mysql:3306/dev
###< doctrine/doctrine-bundle ###
